<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carrentalapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityPages.ViewBookingActivity"></activity>
        <activity android:name=".ActivityPages.BookingCompleteActivity" />
        <activity android:name=".ActivityPages.BookingSummaryActivity" />
        <activity android:name=".ActivityPages.BookingCarActivity" />
        <activity android:name=".ActivityPages.VehicleInfoActivity" />
        <activity android:name=".ActivityPages.UserViewActivity" />
        <activity android:name=".ActivityPages.AddVehicleActivity" />
        <activity android:name=".ActivityPages.AddVehicleCategoryActivity" />
        <activity android:name=".ActivityPages.RegistrationActivity" />
        <activity android:name=".ActivityPages.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>